.burger {
  padding: 0;
  background-color: transparent;
  border: none;
}
.burger__line {
    display: block;
    width: 24px;
    height: 2px;
    margin-bottom: 6px;
    background-color: #222222;
  }
