.catalog__title {
    margin: 0;
    padding-top: 13px;
    padding-left: 6.25%;
    padding-bottom: 29px;
    line-height: 60px;
    font-size: 34px;
    color: $black;
    font-weight: normal;
    border-top: 1px solid #ededed;
  }

  @media (min-width: $tablet-width) {
    .catalog__title {
      line-height: 60px;
      font-size: 60px;
      padding-left: 4%;
      padding-top: 50px;
    }
  }

  @media (min-width: $desktop-width) {
    .catalog__title {
      padding-left: 7.6%;
      padding-top: 56px;
    }
  }

.catalog__list {
    @include list;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $tablet-width) {
    .catalog__list {
      width: 92.2%;
      margin-left: auto;
      margin-right: auto;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }

  @media (min-width: $desktop-width) {
    .catalog__list {
      width: 83.3%;
    }
  }

.catalog__item {
   display: flex;
   flex-wrap: wrap;
   border-bottom: 1px solid #ededed;
   padding-left: 6.25%;
   padding-right: 6.25%;
   &:first-child {
     border-top: 1px solid #ededed;
   }
 }

 @media (min-width: $tablet-width) {
   .catalog__item {
     flex-direction: column;
     min-height: 571px;
     padding: 0;
     border: none;
     width: 45.7%;
     &:first-child {
       border: none;
     }
     &:nth-child(2n-1) {
       margin-right: 8.6%;
     }
   }
 }

 @media (min-width: $desktop-width) {
   .catalog__item{
     flex-basis: 245px;
     &:nth-child(2n-1) {
       margin-right: 0;
     }
   }
 }

 .catalog__image-link {
   margin-right: auto;
 }

 .catalog__item-info {
   flex-basis: 50%;
 }



 .catalog__wrap {
   display: flex;

 }

 .catalog h3 {
   padding: 0;
   margin-top: 20px;
   margin-bottom: 10px;
 }

.catalog__name {
    line-height: 20px;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    color: $black;
    text-decoration: none;
    display: block;
    max-width: 100px;
  }

.catalog__description {
    @include description-text;
    line-height: 16px;
    font-size: 12px;
    border-collapse: collapse;
    width: 100%;
  }


.catalog__volume {
  text-align: left;
}

.catalog__field {
  text-align: right;
}

.catalog__order {
    display: inline-block;
    vertical-align: top;
    padding: 8px 110px;
    margin-top: -5px;
    margin-bottom: 24px;
    flex-basis: 100%;
  }
