.page-footer {
  background-color: #f2f2f2;
  font-family: $font;
}

.page-footer__logo {
    margin-top: 38px;
    margin-bottom: 31px;
    align-self: center;
}

.page-footer__social {
  align-self: center;
}
