.show-more {
  display: block;
}

.show-more__title {
    padding: 0;
    margin-top: 80px;
    margin-bottom: 7px;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    color: $black;
    font-weight: normal;
    text-transform: uppercase;
}

.show-more__description {
    @include description-text;
    margin-bottom: 21px;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
}

.show-more__show-all {
    display: block;
    text-align: center;
    width: 100%;
    padding: 8px 0px;
    margin-bottom: 20px;
    color: #444444;
    background-color: #f2f2f2;
}
