.welcome {
  margin-bottom: 22px;
  background-image: url(../img/index-can-mobile@1x.png), url(../img/index-background-mobile@1x.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position:  bottom -10px left, top left;
  color: $white;
}

.welcome__headline {
    margin: 0;
    padding-top: 29px;
    margin-bottom: 27px;
    line-height: 36px;
    font-size: 36px;
    font-weight: normal;
}

.welcome__slogan {
    margin-bottom: 316px;
    line-height: 14px;
    font-size: 14px;
    text-transform: uppercase;
}

.welcome__choose-program {
    padding: 11px 73px;
    line-height: 18px;
    font-size: 14px;
}
